.bar{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    height: 70px;
    background-color: #ffffff;
    color: rgb(136, 136, 136);
}

.coin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(226, 226, 226);
    border-radius: 30px;
    width: 150px;
    height: 50px;
    margin: 10px;
}

.bar img{
    margin: 10px;
}

.info{
    display: flex;
    align-items: center;
    
}